@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    color: #000000;
    background: #ffffff;
}

p {
    font-size: 16px;
}

a {
    text-underline: none;
    text-decoration: none;
    color: currentColor;
}

a:hover {
    color: #00A559;
}

button {
    border: none;
    border-radius: 10px;

    background: #006838;

    padding: 15px 20px;

    color: #fff;
    text-align: center;
    font-style: normal;
    font-weight: 900;
    line-height: normal;

    cursor: pointer;

    transition: 0.15s ease;
}

button:hover {
    background: #00A559;
    transition: 0.15s ease;
}


button a {
    width: 100%;
    height: 100%;
}

button a:hover {
    color: #fff;
}




nav {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;

    background: #fafafa;

    box-shadow: 0 2px 3px rgba(0,0,0,0.15);

    width: 100%;
    padding: 0;
    height: 60px;

    display: flex;
    flex-direction: row;
    align-content: center;
}

nav .logo {
    height: 60px;
    margin: auto 0;
}

nav .logo img, nav .logo a {
    max-height: 100%;
    width: auto;
}

footer .link {
    height: 100%;
    margin: 0 0 0 auto;

    display: flex;
    flex-direction: row;
    align-items: center;
}

nav .burger {
    margin: 0 20px 0 auto;
    height: 60px
}

/* L'affichage du burger ou de la croix dans la barre de navigation */

nav.burger_closed .burger #menu_invisible {
    display: block;
}
nav.burger_closed .burger #menu_visible {
    display: none;
}

nav.burger_opened .burger #menu_invisible {
    display: none;
}
nav.burger_opened .burger #menu_visible {
    display: block;
}

nav .burger svg {
    height: 50%;
    width: auto;

    margin: 40% 0;

    color: #000;

    cursor: pointer;
}


/* Style du menu de navigation en lui-même */
nav .opened_burger {
    display: none;
}
nav.burger_opened .opened_burger {
    display: flex;
    flex-direction: row;

    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    height: calc(100% - 60px);

    animation: open_burger_menu 0.25s;
}

nav .opened_burger .background {
    background: rgba(0,0,0,0.5);
    width: 80%;
    max-width: calc(100% - 300px);
}

nav .opened_burger .docker {
    width: 20%;
    min-width: 300px;
    height: calc(100% - 3px);
    margin-top: 3px;
    background: #f5f5f5;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

nav .opened_burger .docker .link {
    height: 400px;
    margin-bottom: calc(75% - 400px);
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

nav .opened_burger .docker a {
    height: 20px;
    margin: 40px 0 0 0;
    padding: 25px;

    display: flex;
    align-items: center;
    vertical-align: middle;

    font-size: 0.9em;

    border-bottom: 2px solid transparent;
    text-decoration: none;
    text-align: center;
}

nav .opened_burger .docker .waves {
    width: 100%;
    height: 25%;

    margin-top: auto;

    color: #f5f5f5;
}

nav .opened_burger .docker .waves svg {
    height: auto;
    width: 100%;
}

@keyframes open_burger_menu {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1
    }
}

@media screen and (max-width: 600px) {
    nav .opened_burger .docker {
        width: 100%;
    }
    nav .opened_burger .docker .waves svg {
        width: 100vw;
        height: auto;
    }
    nav .opened_burger .background {
        display: none;
    }
}




main {
    margin-top: 61px;
    min-height: 500px;
    padding: 20px;
}



/* Pied de page */

footer {
    display: flex;
    flex-direction: row;

    align-items: center;

    width: 100%;
    background: #fcfcfc;

    border-top: 1px solid rgba(0,0,0,0.25);
}

footer div.footer_section {
    width: calc(50% - 30px); /* 15px * 2 -> le décalage du padding */
    padding: 15px;

    height: 100%;

    text-align: center;
}

footer .link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

footer .link a {
    margin: auto;
    padding: 10px 0;

    width: 400px;
}

@media screen and (max-width: 600px) {
    footer {
        flex-direction: column;
    }

    footer div.footer_section {
        width: 100%;

        padding: 10px 0;
    }

    footer div.footer_section:first-child {
        height: 100px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }


    footer div.footer_section p {
        margin: 0;
    }

    footer div.footer_section:last-child {
        margin: 0;
        width: 100%;

        border-top: 1px solid rgba(0,0,0,0.133);
    }

    footer div.footer_section .link {
        width: 100%;
        text-align: center;
    }
}

.image_gauche{
    width:95%;
    height: 95%;
}
.description{
    padding: 70px;
    line-height: 155%;
}

/*


Page engagement


*/

#texte_bilan_carbone{
    text-align: justify;
}

.section_gauche{
    display: flex;
    flex-direction: row;
}



#bilan_carbone{
    display: flex;
    justify-content: center;
    align-items: center;
}

#bilan_carbone_texte{
    display: flex;
    justify-content: center;
    align-items: center;
}

.section_droit{
    display: flex;
    flex-direction: row;
}

#enquete_bilan_texte{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#enquete_bilan_carbone{
    display: flex;
    justify-content: center;
    align-items: center;
}

#reduction_carbone{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.reduction_carbone_texte{
    display: flex;
    justify-content: center;
    align-items: center;

}

main.engagement{
    margin: 61px 30px 0 30px;
}


main.engagement h1, main.engagement h2 {
    text-align: center;
}

main.equipe {
    padding: 20px 0 0 0;
    margin: 0;

    width: 100%;
    height: auto;
}

main.equipe .start {
    display: flex;
    flex-direction: row;
    align-items: center;

    height: calc(100vh - 61px); /* hauteur fenêtre - taille navigation */
    width: 75%;
    min-width: 600px;

    margin: 0 auto;
}

main.equipe .start img {
    width: 40%;
    height: auto;
}

main.equipe .start h1 {
    font-size: 1.75em;
}

main.equipe .start .content {
    width: 40%;
    margin: auto;
}

main.equipe .start .content p {
    margin: 20px 0 50px 0;
}

main.equipe section#statistics {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    margin: 20px 0 0 0;
    padding: 20px 0;

    background: #f1f1f1;
}

main.equipe section#statistics .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-auto-columns: minmax(100px, auto);
    grid-gap: 5px;

    margin: 30px 0;
}

main.equipe section#statistics .case {
    display: flex;
    align-items: center;
    text-align: center;

    padding: 20px;

    background: #fff;
}

main.equipe section#statistics #case1 {
    grid-column: 1;
}
main.equipe section#statistics #case2 {
    grid-column: 2;
}
main.equipe section#statistics #case3 {
    grid-row: 2;
    grid-column: 1 / 3;
}
main.equipe section#statistics #case4 {
    grid-row: 1 / 3;
    grid-column: 3;
}



/*


Page accueil


*/

main.home {
    width: 100%;
    height: auto;

    margin: 61px 0 0 0;
}

main.home .first_section {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 70%;
    margin: 0 auto;

    height: calc(100vh - 61px - 40px);
}

main.home .first_section .content {
    width: calc(50% - 30px);
}

main.home .first_section .content p {
    font-size: 21px;
}

main.home .first_section .content h1 {
    font-size: 48px;
}

main.home .first_section .mesh {
    width: 35%;
    height: auto;

    padding: 0 30px;

    margin: auto;
}

main.home section.part {
    display: flex;
    flex-direction: row;

    height: 200px;

    width: 70%;
    margin: 100px auto;
}

main.home section.part img {
    width: auto;
    height: 100%;
}

main.home section.part .container {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 50%;
    margin: auto 0 auto auto;

    text-align: left;
}

main.home section.part .container h2 {
    font-weight: 700;
    margin-right: auto;
}



main.home section.part.section_droit {
    flex-direction: row-reverse;
}
main.home section.part.section_droit .container {
    margin: auto auto auto 0;
}



/*


Page presentation


 */

main.presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main.presentation .main_section {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 75%;

    height: calc(100vh - 61px);
}


main.presentation .main_section img {
    width: 40%;
    margin: auto 40px auto 0;
}

main.presentation .main_section .docker {
    width: 50%;
    margin: auto 0 auto auto;
}

main.presentation .main_section .docker p {
    margin: 20px auto 25px 0;
}

main.presentation section {
    width: 80%;

    margin: 20px auto;
}

    /**


    Page destinée aux performances et réalisations de l'entreprise


     */


main.perf_rel section.flex {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 75%;
    margin: 25px auto;
}

main.perf_rel section.flex.reversed {
    flex-direction: row-reverse;
}

/* Conteneur de texte dans chaque section */
main.perf_rel .text-container {
    width: 50%;
    margin: 0 auto 0 0;
}

/* Image à côté du texte */
main.perf_rel section img {
    width: auto;
    height: auto;
    max-height: 500px;
    margin-left: auto;
}

main.perf_rel section.reversed .text-container {
    margin: 0 0 0 auto;
}

main.perf_rel section.reversed img {
    margin: 0 auto 0 0;
}

main.perf_rel .section-big-title {
    font-size: 3em;
    text-align: center;
}

main.perf_rel .text-with-img {
    max-width: 80%;
}

main.perf_rel .bloc {
    width: 70%;
    margin: 150px auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
}

main.perf_rel .home {
    height: calc(100vh - 61px - 40px);
    width: 70%;
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    align-items: center;
}

main.perf_rel .home img {
    max-width: 550px;
}

main.perf_rel .home .text-container {
    margin-left: auto;
    width: calc(100% - 550px - 50px);

}

main.perf_rel .home h1 {
    font-size: 3em;
}


main.perf_rel .home p {
    font-size: 1.2em;
}


/* Go top */

.go_top {
    position: fixed;
    margin: 50px;

    bottom: 0;
    right: 0;

    width: 50px;
    height: 50px;

    background: #000;
    border-radius: 12px;
    color: #fafafa;
    transition: 0.15s ease;
}

.go_top img {
    height: 45px;
    width: 45px;

    color: #fff;

    margin: auto;
    transition: 0.15s ease;
}

.go_top:hover {
    background: #fafafa;
    color: #000;

    box-shadow: 0 0 3px rgba(0,0,0,0.25);
    transition: 0.15s ease;
}

.go_top:hover img {
    color: #00A559;

    transition: 0.15s ease;
}